.input {
  background-color: #ffffff;
  max-width: 190px;
  height: 40px;
  padding: 10px;
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input:focus {
  color: rgb(0, 0, 0);
  background-color: #e8e8e8;
  outline-color: #6f4e37;
  box-shadow: -3px -3px 15px #6f4e37;
  transition: .1s;
  transition-property: box-shadow;
}